<h1>New Bookmark</h1>

<%= link_to 'Back', root_path %>

<%= simple_form_for @bookmark do |f| %>
  <%= f.input :movie_id %>
  <%= f.input :comment %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
